<link rel="stylesheet" href="../css/categories.css" />
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
  crossorigin="anonymous"
></script>
<link
  rel="stylesheet"
  href="//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.min.css"
/>
<script src="//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.concat.min.js"></script>
<section>
  <div class="mycustom-scroll categories" data-mcs-theme="dark-thin">
    <ul class="ul-categories">
      <li class="all-categories">
        <button
          class="active all-categories categories-all categories-osn"
          type="button"
        >
          ALL CATEGORIES
        </button>
      </li>
      <li>
        <button class="categories-osn categories-all" type="button">
          Combined Print and E-book Fiction
        </button>
      </li>
      <li>
        <button class="categories-osn categories-all" type="button">
          Combined Print & E-book Nonfiction
        </button>
      </li>
      <li>
        <button class="categories-osn categories-all" type="button">
          Hardcover fiction
        </button>
      </li>
      <li>
        <button class="categories-osn categories-all" type="button">
          Hardcover nonfiction
        </button>
      </li>
      <li>
        <button class="categories-osn categories-all" type="button">
          Paperback trade fiction
        </button>
      </li>
      <li>
        <button class="categories-osn categories-all" type="button">
          Paperback nonfiction
        </button>
      </li>
      <li>
        <button class="categories-osn categories-all" type="button">
          Advice, how-to & Miscellaneous
        </button>
      </li>
      <li>
        <button class="categories-osn categories-all" type="button">
          Children’s middle grade hardcover
        </button>
      </li>
    </ul>
  </div>
</section>
<script src="../js/categories.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
