<div class="modal-wrapper modal active">
  <div class="popUp-modal">
    <img class="btn-close" src="../img/funds/popUp/x-close.png" alt="" />
    <div class="book" data-book-id="1">
      <img src="" alt="Book" />
      <h3 class="popUp-title"></h3>
      <p class="popUp-author"></p>
      <p class="popUp-ben"></p>
      <ul class="modal-link">
        <li>
          <a href="https://www.amazon.com/" target="_blank"
            ><img
              class="modal-link"
              src="../img/funds/popUp/image 1.png"
              alt=""
          /></a>
        </li>
        <li>
          <a href="" target="_blank"
            ><img
              class="modal-link"
              src="../img/funds/popUp/image 1 (1).png"
              alt=""
          /></a>
        </li>
        <li>
          <a href="" target="_blank"
            ><img
              class="modal-link"
              src="../img/funds/popUp/image 2.png"
              alt=""
          /></a>
        </li>
      </ul>
      <button class="add-to-cart">ADD TO SHOPING LIST</button>
    </div>
  </div>
</div>
